<form method="POST" action="agency">
  <input type="text" name="test" value="TEST" />
  <input type="text" name="nom" value="TEST_nom" />
  <input type="text" name="date" value="" />
  <input type="text" name="effectif" value="TEST_effectif" />
  <input type="text" name="RCS" value="TEST_RCS" />
  <input type="text" name="site" value="TEST_site" />
  <input type="text" name="email" value="TEST_email" />
  <input type="text" name="adresse" value="TEST_adresse" />
  <input type="text" name="ville" value="TEST_ville" />
  <input type="text" name="cp" value="TEST_cp" />
  <input type="text" name="dir_nom" value="TEST_dir_nom" />
  <input type="text" name="dir_prenom" value="TEST_dir_prenom" />
  <input type="text" name="dir_fonction" value="TEST_dir_fonction" />
  <input type="text" name="dir_email" value="TEST_dir_email" />
  <input type="text" name="dir_tel" value="TEST_dir_tel" />
  <input type="text" name="mentor_nom" value="TEST_mentor_nom" />
  <input type="text" name="mentor_prenom" value="TEST_mentor_prenom" />
  <input type="text" name="mentor_email" value="TEST_mentor_email" />
  <input type="text" name="mentor_tel" value="TEST_mentor_tel" />
  <input type="text" name="nbre_places" value="TEST_nbre_places" />
  <input type="text" name="accueil" value="permanent" />
  <input type="text" name="dispo" value="TEST_dispo" />
  <input type="text" name="secteur_1" value="'E-commerce" />
  <input type="text" name="secteur_2" value="CRM" />
  <input type="text" name="secteur_1_autre" value="TEST_secteur_1_autre" />
  <input type="text" name="secteur_2_autre" value="TEST_secteur_2_autre" />
  <input type="text" name="CG" value="TEST_CG" />

  <input type="submit" value="submit" />
</form>