<p class="text-form"><strong>Formulaire d'inscription Agence à l'AACC CAP DIGITAL STARTUP PROJECT 2014</strong></p>

<p>L'AACC CAP DIGITALStartup Project a l'ambition de créer un lien entre les agences de communication et les innovations technologiques qui feront l'avenir de nos professions. 
C'est initier de véritables promotions de startups et faire naître une pépinière d'accès au marché. Des séances de formation aux enjeux des métiers de la communication jusqu'à la préparation des présentations finales chez des clients, l'implication des adhérents de l'AACC sera totale.</p>

<p>Les agences retenues seront communiquées début janvier 2015. Merci de retenir dès à présent les 22 et 23 janvier pour assister aux pitchs des startups finalistes.</p>

<p class="bg_grey"><small>Prévoyez une vingtaine de minutes pour remplir ce formulaire et munissez-vous de votre liasse fiscale pour renseigner les éléments business.<br> Merci de votre participation.</small></p>
<p><strong>Pour plus d’information contacter :</strong><br> CAP DIGITAL | Elisabeth Racine : <a href="mailto:elisabeth.racine@capdigital.com&lt;">elisabeth.racine@capdigital.com</a><br> AACC | Charles-Frédéric Tauzi : <a href="mailto:ctauzi@aacc.fr">ctauzi@aacc.fr</a></p>

<form action="agency" method="post" role="form" id="candidaturesForm_agence" accept-charset="utf-8" class="form-horizontal">

    <fieldset>
        <div class="col-md-12 bande-form">
            <p class="titre-form-bande">Coordonnées de l'agence</p>
        </div>

        <div class="form-group">
            <label for="nom" class="col-md-3 text-form"> Nom de l'agence* </label>
            <div class="col-sm-4">
                <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom de l'agence" required />
            </div>
        </div>

        <div class="form-group">
            <label for="date" class="col-md-3 text-form"> Date de création de l'agence* </label>
            <input type="date" name="date">
        </div>

        <div class="form-group">
            <label for="effectif" class="col-md-3 text-form"> Effectif </label>
            <div class="col-md-4">
                <input type="text" id="effectif" name="effectif" placeholder="effectif" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label for="RCS" class="col-md-3 text-form"> N° de RCS*</label>
            <div class="col-md-4">
                <input type="text" id="RCS" name="RCS" placeholder="N° de RCS" class="form-control" required  />
            </div>
        </div>
            
        <div class="form-group">
            <label for="site" class="col-md-3 text-form">Site web*</label>
            <div class="col-md-4">
                <input type="text" name="site" id="site" placeholder="http://www.monsite.com" class="form-control" required />
            </div>
        </div>
            
       <div class="form-group">
            <label for="email" class="col-md-3 text-form">Email*</label>
            <div class="col-md-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required >
            </div>
       </div>

        <div class="form-group">
            <label for="adresse" class="col-md-3 text-form"> Adresse* </label>
            <div class="col-md-4">
                <input type="text" name="adresse" id="adresse" class="form-control" placeholder=" n° rue " required/>
            </div>
            <label for="ville"></label>
            <div class="col-md-2">
                <input type="text" name="ville" id="ville" class="form-control" placeholder=" Ville " required/>
            </div>
            <label for="cp"> </label>
            <div class="col-md-2">
                <input type="text" name="cp" id="cp" class="form-control" placeholder="Code Postal" required/>
            </div>
        </div>  

        <div class="col-md-12 bande-form">
            <p class="titre-form-bande">Coordonnées du dirigeant</p>
        </div>

        <div class="form-group">
            <label for="dir_nom" class="col-md-3 text-form">Nom / Prénom du dirigeant*</label>
            <div class="col-md-4">
                <input type="text" id="dir_nom" name="dir_nom" class="form-control" placeholder="Nom du dirigeant"  required/>
            </div>
            <label for="dir_prenom"> </label>
            <div class="col-md-4">
                <input type="text" id="dir_prenom" name="dir_prenom" class="form-control" placeholder="Prénom du dirigeant"  required/>
            </div>
        </div>

        <div class="form-group">
            <label for="dir_fonction" class="col-md-3 text-form">Fonction du dirigeant*</label>
            <div class="col-md-4">
                <input type="text" id="dir_fonction" name="dir_fonction" class="form-control" placeholder="Fonction du dirigeant"  required/>
            </div>
        </div>

        <div class="form-group">
            <label for="dir_email" class="col-md-3 text-form">Email*</label>
            <div class="col-md-4">
                <input type="email" class="form-control" id="dir_email" name="dir_email" placeholder="Email" required >
            </div>
        </div>

        <div class="form-group">
            <label for="dir_tel" class="col-md-3 text-form">Mobile*</label>
            <div class="col-md-4">
                <input type="tel" class="form-control" id="dir_tel" name="dir_tel" placeholder="Mobile" required>
            </div>
        </div>

        <div class="col-md-12">
            <p class="titre-form">Coordonnées du mentor désigné</p>
        </div>  

        <div class="form-group">
            <label for="mentor_nom" class="col-md-3 text-form">Nom / Prénom du mentor*</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="mentor_nom" name="mentor_nom" placeholder="Nom du mentor" required />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="mentor_prenom" name="mentor_prenom" placeholder="Prénom du mentor" required />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-form">Fonction du mentor*</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="mentor_fonction" name="mentor_fonction" placeholder="Fonction du mentor" required />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-form">Email*</label>
            <div class="col-md-4">
                <input type="email" class="form-control" id="mentor_email" name="mentor_email" placeholder="Email" required >
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-form">Mobile*</label>
            <div class="col-md-4">
                <input type="tel" class="form-control" name="mentor_tel" id="mentor_tel" placeholder="Mobile" required>
            </div>
        </div>

        <div class="col-md-12">
            <p class="titre-form">Accueil de la Startup</p>
        </div> 

        <div class="form-group">
            <label class="col-md-3 text-form"  for="nbre_places"> Nombre de places disponibles*</label>
            <div class="col-md-2">
                <input type="number"  data-type="input-textbox" class="form-control" id="nbre_places" name="nbre_places" required />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-form">Accueil*</label>
            <div class="col-md-3">
                <label class="checkbox inline"> 
                    <input type="radio"  name="accueil" value="permanent" checked /> permanent
                </label>
            </div>

            <div class="col-md-3">
                <label class="checkbox inline">
                    <input type="radio"  name="accueil" value="temporaire" /> temporaire
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-form">Nombre de jours par semaine*</label>
            <div class="col-md-2">
                <select  name="dispo" id="dispo" class="form-control" required>
                    <option value="01"> 1 </option>
                    <option value="02"> 2 </option>
                    <option value="03"> 3 </option>
                    <option value="04"> 4 </option>
                    <option value="05"> 5 </option> 
                </select>
            </div>
        </div>

        <div class="col-md-12 bande-form">
            <p class="titre-form-bande">Présélection et typologie de startups</p>
        </div>  

        <div class="col-md-12">
            <p class="form-group">Dans le cadre de l'AACC CAP DIGITAL STARTUP PROJECT, nous procédons à une présélection des candidatures, aussi, nous souhaiterions identifier les sujets d’innovations qui pourraient répondre à vos recherches voire à vos projets.<br> Etes-vous à la recherche :</p>

            <div class="form-group">
                <label class="col-md-10 text-form"> d'une startup qui évolue dans une domaine d'activité particulier* </label>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="checkbox inline"> 
                            <input type="checkbox" name="tourisme" id="tourisme" value="1" /> Tourisme
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label class="checkbox inline">
                            <input type="checkbox" name="gaming" id="gaming" value="1" /> Gaming
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label class="checkbox inline">
                            <input type="checkbox" name="musique" id="musique" value="1" /> Musique
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label class="checkbox inline">
                            <input type="checkbox" name="media" id="media" value="1" /> Médias/loisirs
                        </label>
                    </div>

                    <div class="col-md-4">  
                        <label class="checkbox inline">
                            <input type="checkbox" name="mobilite" id="mobilite" value="1" /> Mobilité et ville durable
                        </label>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 text-form"> Autre, précisez </label>
                            <div class="col-md-12">
                                <input type="text" id="secteur_1_autre" name="secteur_1_autre" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-10 text-form"> d'une startup qui dispose d'une expertise particulière* </label>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="checkbox inline">
                            <input type="checkbox" name="crm" id="crm" value="1"> CRM
                        </label>
                    </div>

                    <div class="col-md-4">  
                        <label class="checkbox inline">
                            <input type="checkbox" name="data" id="data" value="1" /> Data Visualisation
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label class="checkbox inline">
                            <input type="checkbox" name="creation" id="creation" value="1" /> Création : outil/service à destination des équipes de l’agence (ex. CRM, contenu interactif)
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label class="checkbox inline">
                            <input type="checkbox" name="gestion" id="gestion" value="1" /> Gestion de campagnes en ligne (marketing relationnel, RTB,…)
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label class="checkbox inline">
                            <input type="checkbox" name="analyse" id="analyse" value="1" /> Analyse du comportement du consommateur (online et/ou IRL)
                        </label>  
                    </div>

                    <div class="col-md-4">
                        <label class="checkbox inline">
                            <input type="checkbox" name="campagnes" id="campagnes" value="1" /> Campagnes évènementielles
                        </label>  
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-3 text-form">Autre, précisez </label>
                        <div class="col-md-12">
                            <input type="text" id="secteur_2_autre" name="secteur_2_autre" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-10 text-form"> d'une startup qui pourrait vous accompagner sur un projet déjà indentifié, précisez : </label>
                <div class="col-md-12">
                    <textarea id="secteur_3" name="secteur_3" rows="3" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <p class="form-group"> Qu'attendez-vous de ce partenariat et quels sont vos intérêts à y participer ?</p>
            <div class="form-group">
                <label class="text-form col-md-3"> </label>
                <div class="col-md-12">
                    <textarea id="interet" name="interet" rows="3" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-actions">
                <label class="checkbox inline"> 
                    <input type="checkbox" class="form-checkbox" id="CG" name="CG" value="1" required/>
                        Les participants autorisent les organisateurs du concours AACC Cap Digital Start-up Project à publier tout ou partie des informations contenues dans le formulaire dans une publication unique présentant les candidatures pré-sélectionnées de ce concours.<br>
                        Les participants s’engagent dans le cas où ils sont retenus à communiquer à l’AACC et CAP DIGITAL les éventuelles évolutions du projet, le changement du mentor en cours de programme.
                </label>
                <hr>
                <button type="submit" class="btn btn-primary btn-valid" value="submit"> Soumettre le formulaire </button>
            </div>
        </div>
    </fieldset>
</form>