<div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
        <div class="lr">
            <div class="rl">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-body">
                    <h2>QUI ÊTES-VOUS ?</h2>
                        <div class="col-md-12 texte center">
                            <a data-toggle="modal" href="#myModal" data-toggle="modal">
                                <button type="button" class="btn btn-xl"> Vous êtes une startup ?</button>
                            </a> 
                        </div>
                        <div class="col-md-12 texte center">
                            <a data-toggle="modal" href="#myModal_agence" data-toggle="modal">
                                <button type="button" class="btn btn-xl"> Vous êtes une agence ?</button>
                            </a>
                     </div>
               </div>
            </div>
        </div>
    </div>
</div>