<p class="text-form"><strong>Formulaire d'inscription Startup à l'AACC CAP DIGITAL STARTUP PROJECT 2014</p></strong>

<p>Seules les candidatures complètes et envoyées avant le jeudi 8 janvier seront prises en compte et évaluées. Les données fournies serviront à présélectionner 20 startups qui pitcheront le jeudi 22 janvier et vendredi 23 janvier 2015 leur proposition de valeur devant les parties prenantes du programme. Les startups présélectionnées bénéficieront d’une visibilité sur la place de marché digital développée en coopération par l’AACC et Cap Digital sur ce même site. Les données du présent formulaire seront utilisées pour constituer les fiches profils de ces startups.</p>


<p class="bg_grey">
    <small>Prévoyez une vingtaine de minutes pour remplir ce formulaire et munissez-vous de votre liasse fiscale pour renseigner les éléments business . <br> Merci de votre participation.</small>
</p>
<p><strong>Pour plus d’information contacter :</strong><br>
CAP DIGITAL | Elisabeth Racine : <a href="mailto:elisabeth.racine@capdigital.com&lt;">elisabeth.racine@capdigital.com</a><br>
AACC | Charles-Frédéric Tauzi : <a href="mailto:ctauzi@aacc.fr">ctauzi@aacc.fr</a></p>

<form
  method="POST"
  action="startup"
  role="form"
  enctype="multipart/form-data"
  name="candidaturesForm"
  id="candidaturesForm"
  accept-charset="utf-8"
  class="form-horizontal"
>
    <fieldset>

        <legend>&nbsp;</legend>

        <div class="col-md-12">
            <div class="form-actions">
                <label for="cap_digital_member" class="checkbox inline"> 
                    <input type="checkbox" class="form-checkbox" id="cap_digital_member" name="cap_digital_member" value="1" />
                    Etes-vous membres de Cap Digital ? Dans le cas contraire, vous vous engagez sur l’honneur à le devenir en cas de sélection, sans quoi votre entreprise ne pourra bénéficier du programme.
                </label>
            </div>
        </div>
        <br>
        <div class="col-md-12 bande-form">
            <p class="titre-form-bande">Coordonnées de l'agence</p>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-form"> Raison Sociale* </label>
            <div class="col-md-4">
                <input type="text" name="RS" id="RS" class="form-control" placeholder="Raison Sociale" required />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-3 text-form"> Nom Commercial* </label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom Commercial" required/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-3 text-form" for="date"> Date de création de la société* </label>
            <div class="col-md-2">
                <input type="date" name="date" id="date">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-form"> SIRET* </label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="siret" id="siret" placeholder="Siret" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-form"> Forme Juridique* </label>
            <div class="col-md-4">
                <select  name="nature" id="nature" class="form-control" required>
                    <option value=""> </option>
                    <option value="Auto-entrepreneur"> Auto-entrepreneur </option>
                    <option value="EURL"> EURL </option>
                    <option value="SA"> SA </option>
                    <option value="SARL"> SARL </option>
                    <option value="SAS"> SAS </option>
                    <option value="SCOP"> SCOP </option>
                </select>
            </div>
        </div>
    
        <div class="form-group">
            <label class="col-md-3 text-form">Site web*</label>
            <div class="col-md-4">
                <input type="text" name="site" id="site" class="form-control" placeholder="http://www.monsite.com" required/>
            </div>
        </div>
 
    
    <div class="form-group">
        <label class="col-md-3 text-form"> Description de l'activité de la société* </label>
        <div class="col-md-9">
            <textarea id="description" name="description" rows="6" class="form-control" maxlength="1000" minlength="5"></textarea>
        </div>
    </div>

    <legend>&nbsp;</legend>

    <div class="col-md-12 bande-form">
        <p class="titre-form-bande">Contact</p>
    </div>

    <div class="form-group">
        <label class="col-md-3 text-form"> Représentant légal* </label>
        <div class="col-md-4">
            <input type="text" name="rep_prenom" id="rep_prenom" class="form-control" placeholder="Prénom" required />
        </div>
        <div class="col-md-4">
            <input type="text" name="rep_nom" id="rep_nom" class="form-control" placeholder="Nom" required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 text-form"> Adresse* </label>
        <div class="col-md-4">
            <input type="text" name="adresse" id="adresse" class="form-control" placeholder=" n° rue" required/>
        </div>
        <div class="col-md-2">
            <input type="text" name="ville" id="ville" class="form-control" placeholder="Ville" required/>
        </div>
        <div class="col-md-2">
            <input type="text" name="cp" id="cp" class="form-control" placeholder="Code Postal" required/>
        </div>
   </div>  
   
    <div class="form-group">
        <label class="col-md-3 text-form">Personne à contacter pour le projet*</label>
        <div class="col-md-4">
            <input type="text" name="contact_prenom" id="contact_prenom" class="form-control" placeholder="Prénom" required/>
        </div>
        <div class="col-md-4">
            <input type="text" name="contact_nom" id="contact_nom" class="form-control" placeholder="Nom" required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 text-form">Email*</label>
        <div class="col-md-4">
            <input type="email" class="form-control" id="contact_email" name="contact_email" placeholder="Email" required >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 text-form">Mobile</label>
        <div class="col-md-4">
            <input type="tel" class="form-control" name="contact_tel" id="contact_tel" placeholder="Mobile" required>
        </div>
    </div>
  
    <div class="col-md-12 bande-form">
        <p class="titre-form-bande">Votre service/produit pour le marché de la Communication </p>
    </div>
    
    <h3>1. Quel est votre produit ou service innovant ?</h3>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-10 text-form">Présentation des technologies, produits ou services innovants* </label>
            <div class="col-md-12">
                <textarea id="techno" name="techno" rows="6" class="form-control" maxlength="1000" minlength="5" required></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-10 text-form">Décrivez en quelques mots clés les champs d’innovation : gamification, richmedia, search, affiliation, RTB...  </label>
            <div class="col-md-12">
                <textarea id="innovation" name="innovation" rows="6" class="form-control" maxlength="1000" minlength="5" required></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h3>2. Quels sont vos éléments de différenciation ?</h3>
        <div class="form-group">
            <label class="col-md-10 text-form">Atouts concurrentiels* </label>
            <div class="col-md-12">
                <textarea id="atout" name="atout" rows="6" class="form-control" maxlength="1000" minlength="5" required></textarea>  
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h3>3. Quels sont les champs de la communication auxquels vous vous adressez ?</h3>
        <p class="form-group">Dans quels domaines d'activité de la communication & publicité, votre produit/service a une application ?<br>Choisissez 1 à plusieurs domaines :</p>
        <div class="form-group">
            <label class="col-md-10 text-form"> Domaine d'activité* </label>
 
            <div class="col-md-12">
                <div class="col-md-4">
                    <label class="checkbox inline">
                        <input type="checkbox" class="cd_domaine" name="domaine_creation" value="création:outil/service" />
                            Création : outil/service à destination des équipes de l’agence (ex. CRM, contenu interactif)
                    </label>
                </div>   

                <div class="col-md-4">
                    <label class="checkbox inline">  
                        <input type="checkbox" class="cd_domaine" name="domaine_analyse" value="analyse du comportement du consommateur" />
                            Analyse du comportement du consommateur (online et/ou IRL)
                    </label>
                </div>
                
                <div class="col-md-4">
                    <label class="checkbox inline"> 
                        <input type="checkbox" class="cd_domaine" name="domaine_campagnes" value="campagnes événementielles" />
                            Campagnes événementielles  
                    </label>
                </div> 
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label  id="" for="domaine_autre" class="col-md-3 text-form">Autre, précisez </label>
                <div class="col-md-8">
                    <input type="text" id="domaine_autre" name="domaine_autre" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-md-12"> 
            <h3>4. Quelles sont vos connaissances et références du marché de la Communication ?</h3>    
            <p class="form-group">Citez vos éventuels partenaires, clients et réalisations :</p>
            <div class="form-group">
                <label class="col-md-10 text-form"> </label>
                <div class="col-md-12">
                    <textarea id="marche" name="marche" rows="3" class="form-control"></textarea>   
                </div>
            </div>
        </div>
    </div>

    <legend>&nbsp;</legend>

    <div class="col-md-12 bande-form">
        <p class="titre-form-bande">Votre start-up </p>
    </div>

    <div class="col-md-12">
        <h3>1. Quel est votre modèle d’affaire ?</h3>
        <p class="form-group">Décrivez le modèle d’affaire de votre société et vos marchés.</p> 
        <div class="form-group">
            <label class="col-md-10 text-form"> Modèle d'affaire </label>
            <div class="col-md-12">
                <textarea id="buisnessplan" name="buisnessplan" rows="6" class="form-control" maxlenght="1000"></textarea> 
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h3>2. Qui vous accompagne à ce projet ? L’équipe ?</h3>
        <p class="form-group">Décrivez l’équipe managériale <small>(Prénom, Nom, Parcours secondaire et professionnel) </small> qui vous accompagne dans votre projet (le cas échéant), <br>vos compétences, ainsi que les partenaires éventuels qui vous soutiennent </p>
       
        <div class="form-group">
            <label class="col-md-10 text-form">Description de l'équipe managériale* </label>
            <div class="col-md-12">
                <textarea id="equipe" name="equipe" rows="6" class="form-control" maxlenght="1000" minlenght="5"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 text-form"> Effectif salariés (Equivalent temps plein)* </label>
            <div class="col-md-4">
                <input type="text" id="effectif" name="effectif" class="form-control" required/>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h3>3. éléments BUSINESS </h3>
        
        <div class="form-group">
            <label class="error" generated="true"></label>
            <label class="col-md-3 text-form"> Chiffre d'affaire</label>
            <div class="col-md-3">
                <input type="text" id="CA_2012" name="CA_2012" placeholder="2012" class="form-control" required/>
            </div>
            <div class="col-md-3">
                <input type="text" id="CA_2013" name="CA_2013" placeholder="2013" class="form-control" required/>
            </div>
            <div class="col-md-3">
                <input type="text" id="CA_2014" name="CA_2014" placeholder="2014" class="form-control" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-form"> EBE </label>
            <div class="col-md-3">
                <input type="text" id="EBE_2012" name="EBE_2012" placeholder="2012" class="form-control" required/>
            </div>
            <div class="col-md-3">
                <input type="text" id="EBE_2013" name="EBE_2013" placeholder="2013" class="form-control" required/>
            </div>
            <div class="col-md-3">
                <input type="text" id="EBE_2014" name="EBE_2014" placeholder="2014" class="form-control" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-form"> Capital Social de l'entreprise </label>
            <div class="col-md-3">
                <input type="text" id="CAE_2012" name="CAE_2012" placeholder="2012" class="form-control" required/>
            </div>
            <div class="col-md-3">
                <input type="text" id="CAE_2013" name="CAE_2013" placeholder="2013" class="form-control" required/>
            </div>
            <div class="col-md-3">
                <input type="text" id="CAE_2014" name="CAE_2014" placeholder="2014" class="form-control" required/>
            </div>
        </div>
    </div>  

    <legend>&nbsp;</legend>

    <div class="col-md-12 bande-form">
        <p class="titre-form-bande">Eléments complémentaires</p>
    </div>

    <div class="col-md-12">
        <h3>1. Description NON confidentielle</h3>
        <p class="form-group">Décrivez le Projet dans des termes compatibles avec une diffusion au grand public :<br> non confidentiels, compréhensibles par le plus grand nombre, et mettant en avant l’intérêt du projet .</p>

        <div class="form-group">
            <label class="col-md-10 text-form"> Description grand public </label>
            <div class="col-md-12">
                <textarea id="description_GP" name="description_GP" rows="6" class="form-control" maxlenght="1000" minlenght="5"></textarea>
            </div>
        </div>

        <h3>Envoyer une vidéo ou présentation complémentaire ou ajouter une URL</h3>
        
        <div class="form-group">
            <label class="col-md-3 text-form">Upload</label>
            <div class="col-md-9">
                <input class="form-upload" type="file" id="video" name="cd_video" />
                <span class="form-group">tous formats vidéos et .ppt ou .pdf (limite de 15Mo) </span>
            </div>
        </div>
    
        <div class="form-group">
            <label for="link" class="col-md-3 text-form">Lien</label> 
            <div class="col-md-9">
                <input  type="text" class="form-control" name="link" id="link" placeholder="http://..." />
            </div>
        </div>

        <div class="clear"></div>

        <div class="form-group">
            <label class="col-md-3 text-form"> Logo de votre service ou produit* </label>
            <div class="col-md-9">
                <input type="file" id="logo" name="cd_logo"  class="required" />
                <span class="form-group"> formats acceptés : pdf, jpg, jpeg, png, gif</span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-actions">
                <label class="checkbox inline"> 
                    <input type="checkbox" class="form-checkbox" id="CG" name="CG" value="1" required />
                    Les participants autorisent les organisateurs du concours AACC Cap Digital Start-up Project à publier tout ou partie des informations contenues dans le formulaire dans une publication unique présentant les candidatures pré-sélectionnées de ce concours.<br> Les participants s’engagent dans le cas où ils sont retenus à communiquer à l’AACC et CAP DIGITAL les éventuelles évolutions du produit, le changement de nom de contact, ect pour la mise à jour de leur fiche sur la place de marché.
                </label>
                <hr>
                <button type="submit" class="btn btn-primary btn-valid" value="submit"> Soumettre le formulaire </button>
            </div>
        </div>
    </fieldset>
</form>