<form method="POST" action="startup">
  
  <input type="text" name="RS" value="TEST_RS" />
  <input type="text" name="nom" value="TEST_nom" />
  <input type="text" name="siret" value="TEST_siret" />
  <input type="text" name="domaine" value="communication digitale/web" />
  <input type="text" name="nature" value="Auto-entrepreneur" />
  <input type="text" name="domaine_autre" value="TEST_domaine_autre" />
  <input type="text" name="rep_prenom" value="TEST_rep_prenom" />
  <input type="text" name="rep_nom" value="TEST_rep_nom" />
  <input type="text" name="adresse" value="TEST_adresse" />
  <input type="text" name="ville" value="TEST_ville" />
  <input type="text" name="cp" value="TEST_cp" />
  <input type="text" name="contact_nom" value="TEST_contact_nom" />
  <input type="text" name="contact_prenom" value="TEST_contact_prenom" />
  <input type="text" name="contact_email" value="TEST_contact_email" />
  <input type="text" name="contact_tel" value="TEST_contact_tel" />
  <input type="text" name="site" value="TEST_site" />
  <input type="text" name="date" value="TEST_date" />
  <input type="text" name="effectif" value="TEST_effectif" />
  <input type="text" name="equipe" value="TEST_equipe" />
  <input type="text" name="CA_2011" value="TEST_CA_2011" />
  <input type="text" name="CA_2012" value="TEST_CA_2012" />
  <input type="text" name="CA_2013" value="TEST_CA_2013" />
  <input type="text" name="CA_2014" value="TEST_CA_2014" />
  <input type="text" name="EBE_2011" value="TEST_EBE_2011" />
  <input type="text" name="EBE_2012" value="TEST_EBE_2012" />
  <input type="text" name="EBE_2013" value="TEST_EBE_2013" />
  <input type="text" name="EBE_2014" value="TEST_EBE_2014" />
  <input type="text" name="CAE_2011" value="TEST_CAE_2011" />
  <input type="text" name="CAE_2012" value="TEST_CAE_2012" />
  <input type="text" name="CAE_2013" value="TEST_CAE_2013" />
  <input type="text" name="CAE_2014" value="TEST_CAE_2014" />
  <input type="text" name="description" value="TEST_description" />
  <input type="text" name="techno" value="TEST_techno" />
  <input type="text" name="etat" value="Version Beta" />
  <input type="text" name="atout" value="TEST_atout" />
  <input type="text" name="marche" value="TEST_marche" />
  <input type="text" name="buisnessplan" value="TEST_buisnessplan" />
  <input type="text" name="description_GP" value="TEST_description_GP" />
  <input type="text" name="link" value="TEST_link" />
  <input type="text" name="CG" value="TEST_CG" />
  <input type="text" name="date_inscription" value="" />
  <input type="text" name="valid" value="TEST_valid" />
  <input type="text" name="comment" value="TEST_comment" />
  <input type="text" name="whish" value="TEST_whish" />
  <input type="text" name="startup" value="TEST_startup" />

  <input type="submit" value="submit" />
</form>