
@font-face {
  font-family: 'HelveticaNeueLTStd-MdCn';
  src: url('HelveticaNeueLTStd-MdCn.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-MdCn';
  src:  url('HelveticaNeueLTStd-MdCn.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAD24ABAAAAAAdEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAAA9aAAAADQA
AAA0P2JPukZGVE0AAD2cAAAAGgAAABw70VNeR0RFRgAAN4AAAABAAAAASgUtA+pHUE9TAAA5dAAA
A/MAAA7mLgZGRkdTVUIAADfAAAABsQAAA75do2j4T1MvMgAAAeQAAABZAAAAYHtTEBJjbWFwAAAE
YAAAAgQAAAKCdtKVTWdhc3AAADd4AAAACAAAAAj//wADZ2x5ZgAACGQAAClNAABLhGuZ3GloZWFk
AAABbAAAADUAAAA2A3/ItmhoZWEAAAGkAAAAIAAAACQG+ANdaG10eAAAAkAAAAIeAAAD+sHBHDls
b2NhAAAGZAAAAgAAAAIA+CcLlm1heHAAAAHEAAAAHgAAACABSABHbmFtZQAAMbQAAAPrAAAIkTFe
mRxwb3N0AAA1oAAAAdgAAAJx3FEv2HjaY2BkYGBgZM9JrT76IJ7f5isDN/MLoAjDhbx9h2H0/5j/
GizszNsZFBg4GJhAogCiKQ5/AAAAeNpjYGRgYDr17xHDCRaF/zH/Y1jYGYAiKOAfAKiBB1p42mNg
ZGBg+M/gwsDOAAJMQMzIABJzAPMZACRjAZAAAHjaY2BibGb8wsDMwMLUxRTBwMDgDaEZ4xiMGM0Y
GJi42diYWZmYmVgaGBjWOzAoeDFAgaOLkysDUOA3E9Opf48YTjBvZ7gBFGYEyTFJMZ0CUgoMLACe
MA7jAAAAeNptk01rE1EUht9zp2bKIFqEDE2pJrUNlDJpQ/xqSGkWfuDCbFx14aIrly76S9z5E4SA
W1dZ9A9IsStXNQlWi3QRZGhB1Ot7TmZiwBSennvP5805ZySF/UmH/0aUMZ5LF8+k739LHwvuEmtu
F0XaOhKgSiAH1O9hi7q27KNmct1f0H+Z7JAVUiZFUiElcoss6Vn9Fc2RI0dYDSq46UJ/6UpouRAb
LkFLBuSI99L4jhPclx7rh9T3sOmOadslCTYkHcssfoVxBZ4bMvA/3SkKtIPnX9Tf4O/s2Jtj/4f1
m2rDif9BW5k17zK3yjLvVfpGPCeqZ/0m/c6ot7P7wlj1z+M0pkXZZS9izJmui9C9w3XKgMzLG/Yj
Rsj4RypZ//Gk933UyVVSIM58BlhkzXPtj+xYfMN6xt6rjrahvMYd0zWxQCLGbWtt6u4xd533K9Sv
M/6axX9ENMaPtPfW91mc+lRnYXOYQnuls6D8rG9j35HP4T/28CSbS2Mam0Vq+RLr3wzcIWUvm8MU
Wf3tvP6k/7NyjPcrn88/dBaZ1FlKz19QIljmW48Zpzukc8x3RufW91+zmsqQfGdMW/tLdE6fyKHb
x6r1P0CouxWc2ffVzmHehxOGnNmQ+5HiKf1ezVXsG6kbb/0L7gHkPWLaKpo3eInbMkLVPcCSO8Ci
fENs3yN9NcbN8+0fUON+FOUcayQhNbJJ2xbrRIj+Ajn7BeMAAHjaY2BgYGaAYBkGRiDJwFgD5DGC
+SyMCUA6hMGBgZVBhKGO4T+jIaMTYzBjImMFYx3jJKbjTCeZ7jKvZN7DfEBBREFKQU5BSUFNwUDB
SsFFYY2isKKSopqinhKTEpsSv5KQkqiSlJKckraSh1KCUqrqqd9M//8DTVdgWAA01ZExiDEBaGot
0NRjQFNvQE0VVpBQkFFQAJtqicVUQaCpknBTU4CmMv7////x/0P/J/5v+l/8P/1/4H/f/1b/2P+x
/f3xV/ev9F+JB8ceHH5w6MHBB/sebH2w9sGSB7b3r98/ef/Y/f333tx7ee/hvQf37t27fe/GvTP3
NtybeW/abSPWP5CQoT5gZGOAG83IBCSY0BUAo4aFlY2dg5OLm4eXj19AUEhYRFRMXEJSSlpGVk5e
QVFJWUVVTV1DU0tbR1dP38DQyNjE1MzcwtLK2sbWzt7B0cnZxdXN3cPTy9vH188/IDAoOCQ0LDwi
Mio6JjYuPiGRoa29s3vyjHmLFy1ZtnT5ytWr1qxdv27Dxs1bt2zbsX3P7r37HhalpGY+rlhYkP26
LOtnx6xvxb9+p5e/+/jhxvecmmsrdjUm53098+N9bu2TpKbW6UeP3bx17/7tOzv/HDz54uWz53//
Paq8++BpS09zb1f/hIl9U6cxTJkzd/ahs1cKL1y8VHX18jkAKVHQjwAAACYAJgAmACYAPABQAIAA
zAEKAVwBagGEAZwBugHQAeQB8AH8AgoCKgI+AmYCngK6AuoDJAM8A3ADqAO6A9QD5gP6BA4EOASQ
BKwE3gUKBTAFRgVaBY4FpAWwBdIF7AX8BhoGMgZeBoAGtgbuBywHPgdYB2wHjAemB7wH0gfkB/II
BAgYCCQIMgh4CKYI0Aj+CTYJVAmaCboJzAnqCgQKEApACmIKhgq0CuAK+gs0C1YLeAuMC6wLxgvo
C/wMLgw8DG4MjgyODKQM2A0mDVwNgg2WDeoN/A48DnoOlg6mDrIO8A7+DxwPOA9cD5QPog/ED94P
8BAUECgQRhBiEJQQzhEiEU4RcBGSEbgR7BISEkQSaBKwEs4S7BMOEzATRBNYE3ATiBO0E+QUFhRI
FH4UwhT4FRIVVBV2FZgVvhXkFgAWJBZUFqIW8BdCF6IX9BhQGK4Y9hk2GXYZuhn+GhIaJho+GlYa
lhrQGvobJBtSG5AbwBvkHCAcSBxwHJ4czBz2HSQdUh1eHXgdkB3MHiIebB6wHtIe9B8UH0ofXB9u
H3wfkh+eH7wf2B/4IAwgPCBeIIYgkiCeILQgyiDeIQAhIiFEIVoheCGKIaAh9CIEIhYiJiJyIqoi
0iMCIzojdCOUI6wjyCPUI+Qj9iQWJGgknCTyJRIlLiVKJXIlniXCeNq1fAlgVNW58D3nJjPZk8ls
WSeZfZLJzCRzZ8lk30ggOyFMNpYkkABh2MZUQASV8pRWEATqVpdWrUUEN1xoa59UXDDa14paxbZq
0apVqpZS+x41d953zr2TTEKQ2Pf/SebO5M453/nOd771fN+5TDQDP+g8foZhGQkTyyQwyQxTJNPK
WLlWrpYhbTySydH5C4f4wycP8TehzkMnD+FnxuvQjUyIfyOE+PE3mRAq4DETYjDTAcCex2NMNEBi
vKybU7JSuCyTBWUDwePIcuYM//bxYBBaYaYZHUZLoC3LSAEDGQdjcjIU4+c/98M3Gv4MeTE4NA7f
foCfgnY5DCPnvHqA6NXDi5PSl1JPX3oveT02ohg5OaDoHsxakDUCr66Izyh13x8a9zWehB/xDfBg
mZTQnei3bBzMPoFxw1jKCuR2mczuJKRUyN2mcsQpFSq122yH2x4OZuPUsNlI73aZlWoNtJFIlSjK
6rD2aa3NJ4MWe15b/Zr5BQV1eZlxwebKeXWrB1DOW5ISQ6H75ldZl61+/G1//MspKb7ymE+Ss3ua
Fq6rr083cQ51UlJvzB9Vmf6G5Suj/UBBQ+gcfh0/D9SJZ+RMJqNnmFSdRKFyelxGDukZ8TPjVCkk
OpMrSnx/pUypLFMiWQv/qyb0BP1n/Ivtc+dun4v+TN/w9SV7S0r2bhq3oxr6CY11nerqOvUvemUo
TZQwdiWsjZ5xMMVAE7WHkkEiVevNEr3Ojt2uSmQ2EYI4NVipkJq9HiCaXidRKtTJCK4qzulFlq1Z
vVnagc3WjsGSLptiuS3TvrRJXeTSdvnTXYbcjLz8ZGVNg7OMQzsftVcmxZrX2HeWN5krq3LWN+ks
c22NbYnZ5fkLq81qZ36OQZOb79uT6m4srPECSkwLOszcR/mHkQPntIhcQ9iZMYbmIha+SyAcI5HB
+unp8h1rCvp8LVXzF+CxZ3l+05c9nZ9tv+4zKgIME5rLvCv0Ues9MmABji5vU7jPsWcRnuiCmBS0
Aw1C+yQyhtKrlqqlZqCD2au+rW6dOtha3NxY3Dyq3oDHrrbWaFdYV62yrtDWFNCxHCAAeegCrCyD
gKOAf5V6t96NkP/UKf8pZCHXU34Br8rQMPMYs4OJYxjCfbAIbliNyqCrwrljR1VrQkliXTJpZ2M+
RxzqJPTwurVKG5J8PjxM+gMU0p8V+lcGd+wgcENfhc4hJ36b3JfKOTbug54PkvBH4xlENrPgu+cp
7wHo1BTgsxSTDqd4nKoUie6mvGBeXvCHq363atXv0P/wz2/Zgsq28Fq06777+NH7KM5lcKmG/qAF
tHoZCKvT6+ZQdXB//J60BRg3jiQJc9PC5Vlol8kwRqXWVRFNmUipd3FOlVKRxErRs/yg1lVZ5dJa
bcsCr60YKGxsqU/u769YUV/m8jYVOMoOfLiqs2a4rqzdAfByAO9fATwL0IAjPEi40gokdoYBiwwL
QksXV6/LCRS4nUWuyoK84by83sCKIX1Fib6C880NBMZe8DbX++qq2jdbS69evlJmbuR8vTFsdNfc
1esZqsOUgP8rMF4c4QKvW87J6FKWI5meVf5jtKUlgO+5ZxCd4D1999zThwz8H4R55wKex0Gn5ZJe
HJUWtwukR2qWa5VaqTqMpV5nyg0U2oaWGopihvRoYYhR46J6d7NZFli7dMWjyXKr78e36jVR6Iq+
n2NvXkOLbcP3BgCvdID/EuCVxZhgOD2ZexJWErAqZYogvxWYc6KJgdHPg0azqUghYfMGmpedru4q
kMkdi+qe5X/vLFyyxJeH0wzFBQvqinDTmmH+a8fS4AL/tetKeFl1x223dwpz0sDlOZgT8Kkc+E+C
pXpPqleD7l+4LWFTwo4e3D7cu45/9K7bUH2Q6JgMwPFFwDGaSSR8IFcAJjqWXE06CZML0up1Ew1D
OIGu1q2PPx5/smB9ASrhO2u8g8OPDw96a3BcIDDCd15/fWVDA//ZG8298Vi3saO/v2OjDsf3Nk+n
hcAVFdhN1JjJnSLQOQnrdYgyiAJYxjQzKZBRIMXdk5RAUWFKoC9ESmBB3jAj2DU5MYFU6oJBdPWO
HfwOkD4syDS0oXwTIdVCU5BsZ3BCtkk3qjNCX+E8HAV2CnjGqExESge6wAfQgbcbz/gfe8xPxnYw
I6BX9obH1iqj4UWaSdAFVOL3/9bvZ6bBQtDGhtw4D9ocAHC6MDQCD2wOOgw6Ip3JJqO6KljCLYIY
UQHNRsS+P6jJt2rm9waWDi9ekWt35K4JHi+zlOfllVtGdg9vXb7I0crZXVn5xPJjJjt0jmUBZhxT
BdBd1GYQSfVyrITSP2xIiAnhkhBZp4nx4B+vXhK+pUafzi/tsDuK2osamuK1BW13Bq49+ODGu3o7
8x+68v633n7o9jGdt65WY9Aj7G4obd/Z1WJCu/tHqx2ea17nzxVEq65qX3n9w5uu/VF386KXH7r7
jYeu9w1W2xW5maU980bubSE0CP0TLinUzsQTTc/qkZyT68166WMPdmD+b6/se2ZjwWt2FIf6x2/B
Y+OeRx4RbGgpzO5/oF8MIyNyLg8rI1n4AyvjJngbRP1IL+cp87Zv4DwVzpHgx/6RVRU1G4fQXeWu
Uuv4mepyXxV/FI919lynxfEL/T0jZB3zgbfPAS1hdYh9JnxsSgHCUP/EJNURH4aIOLo2qCrqLt+x
ctWOt4L24gIus7hmBDHJXFdT/sPo+w+/n5hQNh8XbN3wwFWHyboD7hhT3FXUugqLQhDWsGQVjiyZ
W17a+NtXahZ7NLGxGs/iGjw6fubK22/dNL4Lj+lL+gd3DfaX6CmvETq8ALCAeuDjKcO/pWg7/yUC
rxGl4bH+F/s/7BfbHoO2seG2oE5lpWgr/49//Yu24p9hIudtAPvi1k/yiOiZhflH5QGjCk7lnTit
ofyKgeAWrrUgMzbgcFeXesqrPZs+XMDZHz1x/GiOrbRQnShzzNl43wNXoaEr/fxOZgL3v4VxF37B
nMlKg6eCwVN4jPio4x7UzD8BbT3Q46Dgj5B2niBhBuInAK7Xw3050T7ElXSCFEEDhcRsMqcEcgtU
muQYFBzqezzqLT1XjGQqW3Y2Oj/+r/XLEXpqAg+cIfgmFAtgQ7melSpLg/jtrf/14XVHwFnjX0Ze
/nV+Garu/Zj0scPlCeqL0z5apT2IFIDTLf2TMG+F75Pp98DTdG4s/MpKH9+Gr344gPf27wUuGP8C
y8Y9uGP8YfKa6MtO0EVO6UL63fgbHIAX9DmLFdBHN/4u1SOwXsBPb4NWSmeYKMKj4ElEET3ssmNi
mhQahG7+asOGrzbw/11sMaSmGizCW9JRdO3Ro/y1i1WlV/Z0jfpUKt9oV8+VpYJ+IutzhvIpUFeu
jOBTECwJyNqR+c4qX/UvziwbXLtsOR79Z1lleSVh0fX9A0H+tIjbcSwH3BKIFYqmdoGiJ1UbvWrP
JIKYeLS/mZfXsIWgWTyP/6raoZ7A05KlTq1qTBOx7Wu5odpRcSACX5U0LFfxgG8W4VxORJMoALUK
fvUmsx1DnGFF6YhOxYpKv56/vMLn9bBAvtzrkqIxQgjbfIv7PGWBATzWs7RhaSyOrpu3TpenlNnl
+cWpZS5+DO2q8IxS/wp47yOYm03gPYE+DiSEMmFpEYQlBxE1RH0DbfA7nI/jWtvqNw27WvPSJcHl
ed6ikpbmOWcre23yP6Z+t9zqKUnO1PQ2949kGL0FGSnJK5xum0eVldkz7y1zbUMejE1sy8swVymZ
qR7skF726CF04qd4pB80pcCDTsDv47APLQP8BMEAaXYGV60MrvvdeuBrZvt2zPCxG0dGNhK/9QJc
PhbhspRv2XsPbt6Mr90M3D7+Ii4Z91DYMD5+T+RvoR1tSzh87/evWIKXbOrHizfctGMR7oN+b2Lr
+ClsB57NGP9IiAdoXEx5vEjOcmovkbl49MzhbcH1W448te3qa9BqtPSvf+V/zP8AYZ4nuH0Nlz9T
foQ5s1wm4ljZE8eu2bRl47NIjY7yryIX38L/hcJPhcsvRV3nRlogENIqU5GV/xjdwr+J7L04BQj1
VT+NdSCeSRPmrCYuJrxaXhkaOsZubx/XtDPT/Xk1zPf0pD+PQjzENuJagL0mDrkMDw29cqwdn2n/
epuwFj4YIQf8N7Ju8UgPxEIv33WX/9Xm/0JpaC5/DN3NDwpx0nfR+dCTZBwlQfr8VqeTjHEO9zMP
4C9pPGbm1ItGNpXh/r17qYwRv/wEttB4EmJ9CFy9ShA0c9iUVyIadBNOFHwLFsJvqegYoB+kpEmy
0ruisLWvprGsulOXrc0r0g77V7QsGU4ZkBbocwuL0P38q8lqtj6xoa25qaNGqY7NyjXneQt7uqv4
d3oTdayyxmCrJbi4AJfngBapxGMlDjs36W2b9UpZOGwAZFwBnNsLxMrsXOTPxWaX22R0lFjw2Bct
Cu8V/j3722uQdGn/suVr/AMCDck8fwTzBKIbBdcFrLFHw8KswBpLqElCvmHJgqVre3vX2utNadKA
zuoxmTxW8/MrVu9HKftRVl6xLc1Ri4bHhlGtSLsjYXzB2gkkI+67GjxHGTvpLXlQA871L+rM5Nz6
3lwcGLaUOIzQ1lzTvn+P/wqvouULsFbSkQH/muXL+gktjAD7EOCroXGCVtByoJU5Qgw7KwyjUho5
QUugQ/zHEpkpO9OYIhke6s4pLDamp1gWlK1ewH98ZEFhPhPKyXW6szOtupSeVbFa38q5pUt6ijZu
lmVvaiUhIYkNUDo+RbQ15ULBi1PqddmIcPXCpqa6Ofo0TUl3NxprdzaWsQs4RzvvoTxUADLwJOCa
ywC7qYXorhxR4y8T8KT0oCpMrtCwdCIuEviUDFv1+UU4udby43jtPI+tOgYPv1zcok1YgmNlWrXG
IpP4s0ypUnuGyePo0llQsntBL1eYW8Mzp7ILLWhAZyvRpesqfKafZbpLyDxccDki2HTCQUJgBeZT
WAuZK8AWdlbPCejyDE489ilurGvlR9AGl83r5G8lc/HBjH4CdGAF7QirCF60LxAIEO2DhwMB8Ds/
AZklbRKYFEE7Ev50E94kGsAXqGtUp6XnpNM+Jzpq2QU5+fizgMCHBL+3IvyFSiQFl1WqBIa+b+u9
T1+5oxz06ro/od/yT/6j8SFR/ilOE/6LLyD6L3AfP0TpLkhLBdgmMuGI+U588A2zinpzf3ZR13cD
OTqDM5Cr0ztxRqUhr6NjD78iTIJJUkzQ0sIoIuBPISbAnGcLU5PAmkrNsH55FGDEkohc7grHufII
Wc7pXbuu9+WTAaO32Gjyekwocef+/Tv5P6PMtYsXrx0aHhZ0QzvoBgt47NmCpiW6QUb9alANbKRq
GMbGziMalzsHJE1i8hTmE0F7FI/VtPPvzg/60lq+QCdWDYqSJuDYTueZAtafiXZHRDEXiXE1zu2b
t4gqneFhonbyrCWWR79o2Xor0TkgwyeI1hnpGQjTzwdwkye1mVoZ5kNs9ickpSltlTijczBqrcRT
x/8n9CH7OzdBHwvZHZjqARC0hD1PsjUw4SuolGj7cIM+P7dgTnnxSNdAe7/Z1l3aXeEe9C9uQluT
FugMOdrkNGVDZUdH5wKFrLCwrVSRo6yvamz0l9N1jgpdQKn4KF0hNyfselFlS02ByS2Lagx0dyuz
0pJ17lInyP/tt7fzz+ams+2xrlbUKvAK1YUZhFcm/H7iMagEsZChBpFXjAYjFwBWaR1Em/htVqPD
ijaJdp3sNt8HMCL8h1v3ji7BC6+4CWfw3eig2A7oie+GdjP4D9+7an0Tbr+qHTcGtmzuxC1CP6Ev
updfQvuDHKGfQn/iI0/4D2Ypu//GKzu7R3ft+86SJeATsI8/zo/zf3npJdonBnTcvdAnlUg8HS4J
mUHqyfwqUczoYuzfcCCnwZ+clRav0cUmwcABdGD81OpSHOWPSk0rABjgYaNtAIP6FXLieLGcMv2z
P6KuM2c60eq+Hv6OPkoHGCuZ7vFCZF+BypHLU4pAFUuykeCTwruK3gF+APOlLay2z9VmKis0mgpl
pnauvbrwkxpcZnm6vL5Cr3u6vEaKpTXlT+v0FfXlT1vK6HzqQueYO0SfBJanzi96JNPGR8okMpqE
7tR5CCZet51gJOzdqQgmKHkGBFD+N2GAmDnMg1iO5hN6es1UcRF+UxNNChKyyqCsNVqaG9U2q4Fr
pB8ebM63GfUtzV1GPZHZjlA78zzQkuYzMoEWbrkXLkdpPgP18m+fOYMsNKGBmcLQHaCDrgD/iezq
yWjorYZppHjIFh/1AcwyjxvcAqnyfUtWlmWgrW2gwFmfmxAorhiWNHbWoFsShnu6h57qjtmH8L6Y
piY2v8qbPZTAj6SuHxyRdAt0SwAZeAM/z3ipHImb8KqIuDeH2FIaWFC7xDkrkVoqgbhCrxP26c2p
c2TawLK1wwGbx+bOVT+wK668GJv0im5Ztl1jUlRV6tZnGUssqStTUWmdvqJo7up1CxLirXMdZle5
vS4rx92aH6XWZKS0JZgQMuW0JDb1ZpkIDSTMevQOrgcehFiqEgFuZD/c41R71VKVguyQE9JLPU4P
2eRTSDiHg7NxFbdVwJV8dJW1NFdw27Z1dW3ruourbG4rgy/sdvgC2rhsLofD1da7o7d3B9ABAzHe
BX81jfA58SXMcBF8bpIPopvqT+3eHffdoV1XBzdu3L98e/zu3ffWOdR1qJ7/EGXxP69TO+rupbp5
kk8FD1vGUm71+2EV+c/Qa+RK2qWFlkNMQ2JF4gaYpYLaJDSV6ye0KNnTUQmKFBypcMxFaBFOmCD7
xkSn1hpM0VcGWnVWfd4NC9t9qxYuHQws1FpNhmBgcdVIh6vJLEO9c+L1eem56bUJmrxCFN1izFKb
1U2FQ10ux5zOvuULBix6nUVRUbq0x21oa+zILuLontVZPMqcw+9P7kFq4bWvn7/Qj0fBywiQ/anw
Plwa8CuxA4K/SpmJZEukYWskCS9WiidXlSLJRfyCxOHGvnUb+uuXxbXHuC2+qppSk+ePn9x//yf3
951GrtOnIc4xNHZe9erm+XMNNtxZXdNpf+bQuUOHzmmFb08TWsagdcgFfJzDWKnNFmKA8O4iiDwX
ESR4I+KBmHynK01pdzeWN31HJonJjS1l2ZzqwV/GlUvT1fJMHXqZsyQmSlIUBsC87TE19kkdji0+
qSIqwZyk0pGxncwAGkJ/An5NJNrPq5SqlUbh7c293d38r+HySfCGtR0da28Q3hgxbyPsr0aDf++G
kE2GXucXoQsjv/Xz71w6BxM1QesERiX42kZwJ/Ti/p/aKLiqVoSnk/rPgcrGn7S3rRnlQ83qnJzk
JR2aKWS++ehRdLC0crniqb9FJWQqfXzDNDJDXHYG72K+Fvw6VqvUalAG/xEeq6B8z6E70OKJPA/Z
ayfBN80rmnRc19VdXVfLHXUORx06d1V391XdT5PPDsGfmcxhJU/NYslIVChmsi6gZbfe6oc//i6/
mM9KgXDSAmOqid7XTm4pg0dJMz4G/qzF57Nwxf49O3OKuMI4tKjO2+GwcNqS5u8HTaUWvSOTxhJI
hhwAx0w5fGLbOLw3PZnhIVKoIt/rRzNzczLSMjP8rbWuVofWwi2obmzwZ1XkNKC3KvRpSq1JXVoF
C1ccjbG7AKxIjTo/T1Mt4F0M8e1ZMb71ctLisk0jYnyLqN8o+iXqSH9ET5wUnRn8bl2enguAJ1tR
lQpOIr+HeK9o1fhH4KOkPkFhuENBrIJ1Ao6MpruM1D0shVn+Yl1f69ota//7Jlbx9Vn00crWgb6v
D9I+hcxZ5ji6mkh5ePUK88vy88uQilzzSZvokIV5D1oDvUuRVCQOiJVXJWbFpOZ+Z156stZW6yy2
pehzijPl8ZmpvugCjcUpsySaZMoYGcCxoDTmbSGnJw+n9GTbe6VLkstgRYuKS2N4mv9IArm203Yy
krEOp3AkQmJH+de7q6vvrh4bTatLQ+u653d2d3fOz1jtKilxTZdLuVLq9prd0cLbcyCSiCOX3umC
GcXEhf6E78Nv0nxKKvGvwTsMZ+PMbr00GqSSnUAaa++/2+90tuMV/D70k0a+r5DOYkk5kvGfFi+5
5amnnsTnxxOQd2JWRF+SMY7CGCzgZgRyTgGJLmZkrjECNvrHdK7+Wc6UMfhPLubxqNCXU+ZVMvO8
Zsn8EbN+gmK26JLScBElvvpG6cCMPlSDDgP/0zwRItMnm43CNgLZrGDLEfGbkEljzZ9IFDnsuWvA
ibpUpghoLuRe2O0095I8NftC9pimZGC+P7KpLDILg88R4fxmGCDHU2AMg1BfDkbqRTDU4NZPAZPY
F+jp8/imQ+runoQ1SmHlTIMlEGxiJYm3OgXwVxUOc1pHUkpqBedMtJhSNZFDsKPmNn1aSl6bLJXw
jjBOUJy3fNpIok8wBfpx4iBMgSihzkIY1tMUFqlFmQIrVbQXElEDTYE5pLVrtfYFFd0VFd1TQC8n
97XLyX1qi0Ln4XKC2imKq0wfi7TA5oTVwWwBs5/8Xix/GNThk+NffIEk/E0/rQSAQ+M3i+kjIe9G
ckMWmhuCuFjtFaPXafkwGt8moWQ0kzYcc1yxKDJNFtQvnpczXT12zYt75OcvTMmbJSTXjrRGWSPV
5kSO4gXgnXghQp/MgLHAwRFZsN+TDVNhKgLbfWNf4NyIviFijC7ZN3VqXyRwbER3/qDAsBEgKK+K
MIJhDpqCgchBEWB+Qh1MAYbIOrCu50hejMpOeK8L5u0JNtPpjnsm8CW7fGentIM5eoLr6dQm24WI
LQvRdnET7ch8PMGXw7MQWpMpgLydhes5KgfScB4vjLsnqBJQHvdM4EudG5L7lAn7w2SvPJz2NIdT
t4QrS0tLI/KfPTQjumTjRtTSjmwTGVA/yYm+1R7O/bAg91TqI7NmM0l9OJP22nSBj0ytRQo8K+TY
gC5SQQtfIstG1ObMmbYiWJBLZdvwAaoHZzsGLNzMYyTCYn6bMXIvOYa46DMP0ywwwjeNJPC3MNYo
Hct26fnMsEAzD3zX9OW6FAqsKlJXi3gERbpqL42JyLgzj76CMPMlJ32QMjhi6hk1TkUfEFkgwXm4
cO38w8VHHil+BP6OFI8/XPww/YN/GYFOr4JMjIPEKZk80AmsUETjMrNyobRIATDE8JbG+oJSRdc8
ke7MAtySX38ig35IMXDa5g1b6hyZwrsdq/lOPUF1bTV/JzqsJ9gGaz9Oa/X/8fjRrOq0FvpOYzaS
KwS+SBIs8JRsIeHqcMbwJFUskVlDnENVx+VgANeGYdxPlc7lYChngkG4MgymKayQpkOiqgnoKsAK
UnxUF0MTVzsMjheU1RRgnKC2QC/S3CPgFSPs+ovZR6JExQxkgDg3EVlIqlEjc+jKqTl0ZTiLrhSz
6MH1NI2OztI0Oq/AYztJHv0ewe4WhC6g5/ApBgJsNS24E3bzqFNMdvNBiaLJapfXMpcvy5Bnetrb
As8420qWN5Qt6Zf4d+1pt7uGhsY/wMpfZrSUb0nH0lWNq7ZQWgk5xC9pDpH79llEYnVmlUnsJX7k
rLKJ6PcCT/zfcSMKcza4bSNL+H/AzfNv4UYV7WzQe0v0e2eNYVgOBBzPUBxrvz2OMyro2SCcepE/
PSvU8eII7U30t4D/++L6e/8NKocV+2ywNlA/fXZE/kLUDyKOrJHi6CVVit8WRzzNz58VrtdE+v+z
I25LZGRAeQP/EFvANnqZGrJPKeSrorVgdMK5ajtrDheBhbcRw6zg8YIWi3ZLpKLvj/b8qNVqRgn8
39vENLbRq02KUbQUVnfX1izMlNfQKQxmWRYNtPK7E6ud2brsJWhe9qb5tgHT7VFCchvJjepUB9fc
1FovU0mzTe1kFnNq8aZNmxcmy5Ic+TkFQj2AhdYDcDQWwcQ+TqsGIPmAmeOQ+x11HZrpRQLD0fVt
2ouCkaaolisW7pxWOlC1ZFWMfUo0wor5/i/pHmT+bDL+1F28TNa/HRTmN2b+UUJYF3378YlmvMz4
BaAU/43xbbMZP6z9LoOCTVB8l8VC0HdRIh7vi3Swz4oSYQ1xGVSuJ8rhmxHJnfAZSGwm1OxExGa+
wDziQpFKhHD9DvECz05pB+viC6whblJEOyE2o+2mxma+wIuiKyS2jozNxDzFtNjMF5BTd4d0GA3H
ZjTPz8ZANGohFeNCOt6OiQvKgv8J0kO8T/AwUvQ6WQrxRU3mG0nGXyo3ZWeZ5FKbwa/TtKXn9eX6
B+e+fPKYS4Nt81AiKQGwVnqzsryVSGNwaOXWZEORwbH46X2kQAAlanFdA60PoLUKZxgFGX/GaoWZ
TNGUCoZDF0V000sa8JkI68KKtQ1f0tqG9EtVN3hh3aZXODQSR2Z6lcPne/fOFmYl4qTTYZqIA3J5
mFmXgmkW+GE6WE50HGaADJwShn2Gws67FOyZSD99oKcuMvjTh0TrZ7DtjwKPCrTKvuToIt9OH/Fa
aqwvGgWLMsgyjtAnOA+niue8GI9oXc1urdIgfv6Q7um/hy7wv6CfUunm/qd+/zviLr/AJ88Bngtp
vbkRYju5eBzLywpImtHFAZr0wPdVWo9JevB7Cp3XFMOH9JW9a70mTaG2sned15RzO8pTDQ/V2//C
/w7e5xXwvY2VB3fuV1Rn1Fc+uHO/vFaspzsC664gmdgZqzKo6z2lMuM3wJoXVWdQLTIreMQoTIH3
d2DLy8PLvFTViKjkp4DknxB4ckawYb9VgP0+xTXrUtiGFfcU8LcTtrgYtqjpaH6U1oJ8GY4ML6oG
IVS4uCKEpSp5WlUIDoh6XKhvGptNfRMpfXzgovom9qovWmasb2JFfN+n+GbMiHFYRC7GuktQ9dPR
vlagRrg2LSOiNo1U6aLQV2KNeyK5L3V74TuvUqrUKu3FxcF9+5ACRZsHzWgZ/9nQ4NDf+8N1vfSc
X/yUPjKfzxfw+ZDG0m9BzTwPb/xtE7XrF2iePD+i/lKo25rcoDZSspG8BzHjHrQXWwbXj6zZ0G/C
aJD//HOyYe3l0g16ZSIpFi8u4aof/9V/PllSQHdLz55bOifBUDFcTyrF6yZiInyU+r12ep5O9APU
gn+AzZN1oBqsFkpARJfYIOBAEULop8TfvR9cBZ0nK5HNH1nhlxe0FOvdupS4wsXg4gp+MF8lTTVk
ek0mb6YhVfB2D/esUmpVcf4DN9Qsa7UkZytlHZs2+QQX+I7BOl82uJnZPkojWmfObgefyvWtKs2J
ewlsfJmC88NEDv19s6k7xyaQTYHXhRq3L8FSO75FlZsDUYy+odjtQwGby9W8vSIgwor7MkG6L5MS
uTMjSoO4O5NK7UTE9kx4R5rMhdaKA31jKYSJanEkkC+iaJw/L2AXLh7H5yboIdSFfRmGEa4MYwUY
YoHYX4Tu4Tox0HVCd5C1j0B3vAFyo6WnsGkxlVRHiookyeAo6Fmi+Wj44vHK9UtHsmT1TYXZyWxS
klSfH5+2Pj7YnNrcblPKZOnGnLiWlejx65qaY5pZlM+truN393RIWqOMdrSFjvUe7qd+pAQIKChn
reg/hpXvlDYiGxULyE8g/U21Dyj0KfQ/jz8meoAVcqQc2XVTVZirzBUNVzfgj1U2m6qkpYWcocWj
zD3UT6XVNJW0jAZoGo3nM6chphbqJ6bFx96I0BefmpruAphpIQvzOnxKIXl58bibWlQum521mkwl
/GctKvOUezI10vzYApuhjuD9Nl6BJOAL0SzZxR7PyYv8y0h3Enz047gflYV9eVY8RV8FZmObWNEg
1jSQAjgfPkHWm1TjuSdTy6Dx3BBk07UnRW7w752O8n0brrihyrb5tL0SzW+c111le6eDdd/et+tn
z16z+MdOtqPMeM+6FbfevGHFT/RlHf+Paiak9IxGLLGQSC9TqPVgevXiyVOd1OzhtOhsVUJf8n9E
6VSL1FpcokmwDKDlIGSnO4s1I8i6jL/Q2MmE+uNqswXb8Dd0Hs0n61xO5Ov83/r7xfvsJ5P32U/E
+5XoMPMY8Bc98+ryeJUSUsheSQ5wosPhA5w7xHPckW2nnuPG9REnuWd/5hsztegwWkFhKqdgwE1+
rCXIVE3DaBK1i2BMjKaf/PgPMvCH0zCdRARghIbRCoqvcgrGM8KYAQKtCwoF0SnBLsvF6mBydPwX
gYceCjyEmbGxvvFfY65PqM2Ftq8L9ffhtuHqI472OQw/5IKlJ074+Xf9L73kRzrh7Otc5ig6jNWR
NTNzVx5YufIAytq3atW+VcT2roXLVfTMvBCXkjHE19rg7+F3B/0BeFJyvjhKOuU5DVay3xN+PgPi
kD783IbwMxrCz2wItzGJ/7N30uc18G7y8AY1/YxX0oc2jAeEZzfU0ZujwvMcXOLjG8bt+AD9+A59
hAN6kL7xLwnPeRAe60BqhQaY47S2JlzxVjhZ5Tb1e7Hy5nhEtY1gAxaF/oSaaA0MI4WJ3U/rSGgh
S/gZCufQ+0CLIvhHaiI1tlKJFIyDRA0XFS2+JXwppQW4Zr2XM3nh4vFS3YXe18nAK3BlmyTvp72K
8c/S7mLzclwFeRa1Mt1estTbIW1Kc2DckMbFtnsXlRWY8DWLjCqV1rqsTmusW27XKxXGtalxCmvN
bXVGbd0tFVa5TLCfqtBX6AH8tfAUDSPVsuQBH6AhvDJRr0nVRAOxSo9wHn6bpWxdaxPLGmLTq2IX
VhWXHkF2U/m+K9wZhjvMWwfbEtmcGHdZLIrdfGVf04+fsc+pQSceuXlDz3w6Xi6ys7voeSuVUC1F
Tr9pxdOVwKvgAMh+uAU1b8FNeHPxZty+cf36jeCEdNfV8QdRPf9z+rqT/wMy8Mv/v+tizOhCf2fr
YN1U5Fwi0uqykUItnMkWDzHlqpRm8P9NuVJSHs5pnWzd+JXRsSt3N19f5PMcXPrAp5+i5rMHYlfy
n6yMi0bnotD8qBcSY1dXeauaXkf5b7zxg5QXkuKGR2KTfyWl547+iU6wyeCTmIj1ntj+FIuZ1ZwQ
hZAz097w1BZlVncP3rA12LF4faujDhzbruryZsTVxcQVmwuri/DuZs+zx557b+fS7+wpzIzNXH3L
+J49A7meNY2V7XRNyIMtsvBJJprWUrghOlEatawdmcHcSDN+ve5FfgmqXCnJk7BR5uhyfOP4xsr5
qF51fYZ6q1Kw1z/CPfgYfWYHVU1UPWlxT8/S15b24Gq8eLwW/5K8BB2lCv0I/KVjtJ5P65azblI1
IWeVWvQGX/Pu79BP+beeewu19NeiRjSnvpPl3+WfY2mN6SmchyzhGlIHunDK75+F7M2mFjAnFMQx
bA05b4mAF6VmrxwcYrAVchxzou0/alJ298cAT0fdwdZ8XYiOp5cU88csBYitVoDwwMg2Zge+B5Ga
azPNcgiLZp48gK2msqyK5pwVyEs25sjKGUlgJNUIZ1pN+B5/qbXFbm3jSjo7qzs7XVn5heWtvAFl
uDMyMzO92Xl2NwoiWW6OPCfKUawz2wuRFtX7i0pc3q7q2q5VJfKsBQ9os3IMubriArP3uYQMuT6q
OL/UYCPpLUYZ6kXz2G5SOwA6iGggpSIV5Du8u06qtclOPEEUzUtIkmXJMhIMOc3mtKTMuPTkjMS0
LENlNttSH5Nm+F4r/0z3jRXlyXPjVMat3ahpvn95rlXQKQbmRvQieoTR0Frw8JkCiZSeM9Cwao0E
5puDxPtE2dAvEAQgLIkQ7zVYm8wVzuxMg8KoqDUnqtWJapZNlSTHJMRJ0g1y+NpSzmXJtbIk8n2K
Nkkmi9YkqOPSDOiRnKXGXL1WY3VFxUmTEI5nY9hopPsu3Naq01RwP1YSFwfApDohN8t40bNonNhL
NPHEJDN9ihJ5oSHDtgPeV/5ks5u27veOvVeAPltYel3pylQ/XFfAXG0Mi47jJsEa2pDbqIxWRqsh
CkG/5EfRjfwjqIPl16D9w69Xvt5wCD90qFygkT2ynxz6uI1uI4leOOj0HTQfOu7m16J9uEnsOB4q
p7XFoTfRafwByKpc4FSQVmIwINRQE+3gRacfbXvo0baFgTgpGxuzZk18VFRMDFrEb0Y3oBv4K/9b
m2VW/f1fujSDQqjdBCi/EM/bkV0gcVsGzXAGEbVB1MXfMXkSMXwkb/yOi88kTsJVC1C1M0OcAm9s
3DMF0v8CvEZUFwAAAHjarVRLb1tFFD62Y0ehUtSWR0XVxRECFii9vnacNq4lJNdunUpJieKIBbvr
e8f21PdhzR079ZZlfwE7Xqtu4AfwP2APO5bskfhm7jhtCAUBvaM7882Z8/hm5swholulT6lExfes
9I7DJbpZ+snhMm2Wyw5X6L3yscMbdKP8rcNValU+cLhGNyrPHN6kLzd+dniLtqtfOXyF3q3+4vA2
vV8bOHyV3q594fA1erP2o8PX6eYmI3ppYwvk3rJMDC5Rq/S1w2XaLv3mcIX65Tcc3iCvnDtcpWn5
B4dr5FU+c3iz9HHlG4e36Fb1c4evULP6vcPbdFD93eGr9FEtdvgafVj7zuHr1Kr9Sj3KaE4rUiRp
QlPSxPQcf4PaaD7tADcx+uiZuhRBf0QCeAirHPqCEoxMjyilEKsK/kwf2LWIPKwZyxiN6eQ8Tm5n
AqOA9vJcdx19H/3F6AfQkdAS8DSyVhPbM/XRLxB9Bi4BPIaIIMFH4DexB9bzmoO6wEFd4kC9bL5S
cjLV/Jwb7ba/w03fb3I3ykaCh6tciyTnR2mYqXmmAi0ij7kbx3xibHI+EblQSyM15vsNZ34gZCTi
kVATobivFuEsCfJwKlORcnfgWQ+q8KDWHshuOrbUNGiH2N5j4AX+Qzq116BBmunIkmdcaAojES+F
lmHwWCzE4SkPdcRHIuIe1syZT+AghiuFqZgs4gCggZ2bc25TByfVp/v0AOjvwxfBbyN4VARueH6z
3en27z/o/IkDKNw+igyBf+nylX4+gfZDmywviB/Dnm3CFFLTOjbJlU3aQurRLlrHJssM8gwxx5DG
4DOyOi38DdpDEu4h0OlDLjZ2PGTfB/T9Ti9Twki93d1OEsxEpsdeLEcNr+U19vb3Xt82L/thjCZz
DdL2pUX2FZr7nEGWYTP/77WYdyfoKVZiaOZYXVo/K8hjy8Lo5i7lNOwVoi7sq2Lsz3gzh7pCLRBO
MrJMlfUxQOQRGO7YXaTWi+Fi1orqomyWSldhlIskLcPQSjT0i/kTRFZWN7LczDlllp/30rmyzDlg
rYJIJIGacTb+hxe5w+JpGC9yuRTximMZijTHG9JTlS0mUz6UaaZXcwEwUoFa8SAZHexwkEacBCtG
pVBiIlErFIxkyqFQOsD4ZKFkHslQyyzNQfDyaQ3t3sZodB5kqIMx5qZoaajdozramW2eTYCiLHu2
BCdYW7ujqdbze/X62dmZF5gC5oVZUjc+/4u3Oq7fXEyA0bP2CdCrY9RjMQlib6qT+K8zef0m+EI5
e+nWzHPgooQR3aG756VOwi6xBS+zGfQiI+nOXVPt5CLhXpZG9tpefyH9AyqvuOoAeNptzXeYzwUA
BvDP9+64Ya+GvTNz95NzF5W7s5JRkZXRxckvOTp3qSSyN0XIXmU92YdsQtn1oKVNZRfSv+Ke+9P7
PO/z+ed9nleEvNzJFXK/3LnbQIRIUQooKFqMWHEKKayIoooproSSSimtjAc86CEPK6uc8iqoqJLK
qqiqmupqqOkRtdRWR1311PeoBuIl3P1u6DGNJGosSbLHNdHUE570lGZSpErTXAsttdLa09p4Rlvt
tNfBs57zvI46eUFnXXTVTXcv6qGnXnp7SXoQYbkxxtpttovGmWayhVZbEUSa5AejzXTTLVPNMcHn
fnbDImvc9q//LPOpI76wzsv6mKGvYzJ86ahTjjvhpEv6Oe0rX1vvFf943zfOOKu/K66Z6FVhAwz0
mkxLDPK6wbIMkSPbG4a67E1ve8sww71ju6VGeNdI77nquh2+9bvzNtjogj/s9Ke/fOI7vwVRzvnR
T371vV+CAkFB822y2VbbHLRFrkNGOWC8tQ7bY69dQXQQY4rFQay5VpnnI38HcUEhH/vAAitNN8uH
PrPP/uiczHB8fEp8vs3zDKUl59kwJd/UtKgWOVmDYtP7hcOJCaGk5NiMIdnhgenZGX3vDUKhhEb5
Jv8Pw7iPrAAAAAH//wACeNody0EOgCAMRNEPmoAbDuW9NHJX8BRo/NJm0jeLEoBidv6JZBYSwZtt
G4c+uXSl6e5GboZ+ePU6//gA5SEJGHjajZPPK0RRFMe/575nZkjijRmaJkmysLDQJAtZSKIUvbCU
F43UNMTMipC/QP4Cf4Slhb9Csabe2t6P7z33UmNMWcw995zzOd977nl3IAB6UMEVpJY06sjRk43N
eBQl4PMTXcwLDEK7oy8IkEmSWgMT1eNkF1O1g/0EFV3nDo/36lg4aR6dYJl1RmtdvfUCqljPrU45
w/OKGMEEZjCPJWxhG1XUfd0Oa6y9IgdWXOMBqfTLrNOQdW93XF6O5Ebu5NH4c03J5Y3nza2P37Ob
Iu/6glM00EQNZ/oTxgYwiAKz45jGImLG+jUe4AnPeOPeRmxfIakyuUl/z6zm8nrfCOmPZ1fLB1Qu
YczTuT/pds6pDrZwQ//kCh254i894V60pxDvzKxqfKUl/sH4mo8HOsGyzgKqLJzWdwd2DbgOa707
t9szRu9Z1r7+IuIWwrDzcdXrpGL9gY5k3EYaEtm2755t++pVavbyXa6zIsNbvnICEZXyukt1F/L1
Rjrbc9IR52htSnuhfkFtSms1+nDpqUtP2X9TnifbrzGic3ZcTrm82vTnDRmeZny/xnb5BeIwSR0A
AAB42tWXS2xUVRjH/3PbztAZ+pgpLRQ7ZWZ4pURj8AUUVj6rGCIvI+jGhRs0Lgx7EjfqEnVBMNGE
VFTS+ohk0mCCCvJyYdzZMA1NurcL0uQmJHr4nW9mOkyh2nKvC+8v59znOef7/t937zlXCUlpDepB
Jd56/ejbWqFWrsg5+TuJN994x19T9Yx7AfuAFnOc/W7PZlTQFm3XkxrRuxrTOf2iXzkLVHEV3aC0
qIV6ypU1TQnmjxJ2vVOnqEcpn1NOuz/1Bfsz7qrGKOMcf612feNCfct4ZzmfoJynpGkZ0jKkZUjL
kJYhLUNahrQMVXY3eTrEgtMcjdnZTSyYcH/Qw3UsqLgL1FNWZ3iuS1nltU07NKxdwmpNK+goeU/T
RzPXtUnrUeeWYtjcrLvmZqhn7Agi9jdX23vdo1s342ai+Nawxd2Kqhf6zEZoHUu06j65STcZQ1+1
GEWwLadcTJE+5o7VrYopRsn/d6RrvUWK9L1tWeq74Eb5PsqVifCoO+6Ox5XBy1e3aq+v65bfX4z8
V66ua7O689dnl69utHyZ7+2IOxLzG7D0t7j5KE28R+9WvwozXtrN3WueaIwchx7R54Bq9s7ncs0j
5riyp3Gv/rTNgrV7/8V8dMdI5cXmzWX00vCoUo97s+61uWL2n3Ji4Yxv79jc0rNtoUden8VtWY4u
9/sdbXypvGdV/xb46CM96X6zdcG/2hV1RRRnL806LvadqM3qNi/Xy933l7AF2unXzdqoDZBgv5Gz
TdCmzZDSEKRZeW/RSj0EnXoYurUVsnoEevQo9Oox6NPjsEZPQD/r221ay5p9ux5gpbuDFe8wrGPF
u0tFPQOBnoVWPQdJVvYj/AU8D+16ATLaDR3aA13aBznth1U6CKt1CAZ0GAb1GhT4M3gPLz6ANn0I
KX0EWX2sE9h5Enr0iT7Fns+gqK+gVWc0zrhnNUH/5yCnH6GgnyDQz1DQBUjqInTrEvToMuR0Bfp1
DYqs4yus26dgg25ASX/pb3wJUKML0rTtZuwsZFAjjxaDUDD1u0zNvGlXNO0CU63FVGsjUjsZ1WuX
0tOwyrTrNe36TLusqbbaVFupF2HAtOvQS7BGe6G/puMBWGs6dutlKOkVGDRNE6Zpq16FTlM2ibLv
Y6HXMW865k3BlE7pSyzxOvaajln+o75j3O+hv0nTH3Se/r2ySdM0aZr2mZr5O9Qs6iqUTNOUqdnO
39E0EQqw2GerUGszVg6RlW2WlSnLyhXk5DBPe416UGg3lnn/B/B4P2N4b9fh32EU916VLF/WW74M
kS0n6O8kXm3Fq3H099Y/ZdaPYPVF8vIS9u0xy/baX9s+i/MBi/PB2+FmFjIAAAEAAAAIAAAABAAO
AAJpZGVvcm9tbgABbGF0bgAIAAYAAAAAAAEAAgAIAAwAAf9WAAEAAHjaY2BgYGQAgpOd+YYgeqfy
JzEYDQA+0QW8AAA=) format('woff'), url('HelveticaNeueLTStd-MdCn.ttf')  format('truetype'), url('HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}


